body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('BGweb.gif') ;
    background-size: cover;
    color: #e0e0e0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(44, 44, 44, 0.9);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#logo img {
    height: 50px;
}

#navigation a {
    color: #e0e0e0;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

#navigation a:hover {
    color: #9e4caf;
}

#content {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
}

#sidebar {
    width: 20%;
    background-color: rgba(44, 44, 44, 0.9);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 20px;
    height: 20%;
}

#sidebar a {
    display: block;
    color: #e0e0e0;
    text-decoration: none;
    margin: 10px 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

#sidebar a:hover {
    background-color: #9e4caf;
    color: #1c1c1c;
}

#maincontent {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(44, 44, 44, 0.9);
    border-radius: 8px;
}

.image-box {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
}

.image-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-box p {
    margin: 10px 0 0 0;
}

#footer {
    width: 100%;
    background-color: rgba(44, 44, 44, 0.9);
    color: #e0e0e0;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

#footer img {
    height: 30px;
    vertical-align: middle;
}

#footer p {
    margin: 5px 0;
}
